@import "tailwindcss";

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.08);
  }
}

.animate-zoom-in-out {
  animation: zoomInOut 3s ease-in-out infinite;
}
